<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #6679b8;
        margin-top: 2%;
        color:white;
      }
      .br {
        display: block;
        margin-bottom: 0em;
      }
      .my-image {
        max-width: 50%;
        max-height: 50%;
      }
      h1 {
        font-size: 36pt;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>
        <span class="br"></span>Error 404 - page not found<span class="br"> 
      </h1>
      <img src="../static/cat3.jpg" alt="cat3" class="my-image" />
    </center>
  </body>
</html>
